.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1400px; /* Ancho máximo para la galería */
  margin-left: auto;
  margin-right: auto;
  /* lg (pantalla grande) y superior */
  margin-top: 10%;
}

@media (max-width: 1257px) {
    .gallery-grid {
      margin-top: 60%;
    }
  }
  @media (max-width: 1150px) {
    .gallery-grid {
      margin-top: 50%;
    }
  }

/* md (pantalla mediana) */
@media (max-width: 1024px) {
  .gallery-grid {
    margin-top: 50%;
  }
}
@media (max-width: 980px) {
    .gallery-grid {
      margin-top: 220%;
    }
  }

/* sm (pantalla pequeña) */
@media (max-width: 768px) {
  .gallery-grid {
    /* Este valor de 1000% es muy grande y puede sacar el contenido de la pantalla. Lo he puesto porque es lo que has pedido, pero quizás quieras ajustarlo a un valor como '20vh' o '100px'. */
    margin-top: 1000%;
  }
}