.draw path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 6s linear forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes latido {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.98);
  }
  75% {
    transform: scale(0.95);
  }
}

.latido {
  animation: latido 1.5s infinite ease-in-out;
  transform-origin: center;
}
